// Specific CSS for your home-page
.container {
  padding-top: 32px;
  text-align: center
}

h3 {
  font-weight: 400;
}

.btn-gifted {
  background-color: $gifted-blue;
  border-radius: 30px;
  color: white;
  padding: 8px 24px;
  width: 80vw;
  margin: 16px
}

.event-card {
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  margin: 16px 0px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-emoji {
  font-size: 30px;
  padding-right: 8px;
}






