.friend-title {
  background-color: rgba(228,138,168,0.4);
  border-radius: 16px;;
}

a {
  color: $gifted-blue;
  text-decoration: none;
}

.card-note {
  box-shadow: rgba(228,138,168,0.4) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}