<div class="container mx-auto">
  <div class="row justify-content-center">
    <div class="col-m-8">

      <div class="mb-4">
        <h2 class="mb-0 text-primary">Create a New Gift</h2>
        <small class="text-info" >Paste a gift URL and assign it to your friend</small>
      </div>

      <div class="mx-3">
        <%= simple_form_for (@gift) do |f| %>
          <%= f.input :gift_url, placeholder: 'https://www.etsy.com/', input_html:{ value: params[:gift_url] || @gift.gift_url }, label: false %>
          <%= f.association :friends, 
              as: :collection_select, 
              :collection => Friend.where(user: current_user), 
              :prompt => "Assign to a Friend", 
              :include_blank => "(Select if none)",
              label: false %>
          <%= f.submit "Create Gift", class: "btn  btn-gifted" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
