<h1>Welcome to Gifted</h1>
<p>We remember awesome gift ideas, and remind you when it's time to buy so you can relax and enjoy life.</p>

<%= link_to 'Add a gift', new_gift_path, class: "btn btn-primary"%>

<% if user_signed_in? %>
<br>
<%= link_to 'Upcoming events', events_path %>
<br>
<%= link_to 'All my friends', friends_path %>
<% end %>
