.circle {
  position: relative;
}

.circle h3 {
  position: absolute;
  top: 14px;
  left: 12px;
  color: white;
}

.event-card {
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  margin: 16px 0px;
  text-align: left;
  display: flex;
}

.event-emoji {
  font-size: 30px;
  margin: 10px 20px 10px 0px;
}
.event-info {
  margin: 0px 10px;
  width: 200px;
}

.edit {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.edit i {
 color: $gifted-pink;
}
