.hidden {
  visibility: hidden;
  display: none;
}

.flip-card {
  position: relative;
}

.arrow-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  color: $gifted-pink;
}

.back-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  color: $gifted-pink;
}

.flip-in {
  z-index: 2;
  height: 192px;
  width: 168px;
}

.flip-card-back-details {
  color: $gifted-black;
  overflow: scroll;
  font-size: small;
}