.hidden {
  display: none;
  visibility: hidden;
}

.flip-card {
  position: relative;
}

.arrow-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  color: $gifted-pink;
  font-size: xx-large;
}

.back-btn {
  position: absolute;
  top: 5%;
  right: 5%;
  color: $gifted-pink;
  font-size: xx-large;
}

.flip-in {
  z-index: 2;
  height: 192px;
}

.flip-card-back-details {
  color: $gifted-black;
  overflow: scroll;
  font-size: small;
}

.flip-card-back {
  border-radius: 4px;
  height: 320px;
  padding: 8px 8px 16px;
}

.flip-card-front {
  border-radius: 4px;
  height: 320px;
  padding: 8px 8px 16px;
}
